$fa-font-path: '../webfonts';
$font-size-root:10px;
$font-size-base:1.6rem;
$btn-border-radius-lg: 3rem;
$btn-padding-x-lg: 1rem;
$btn-padding-y-lg: 1rem;
$btn-border-radius: 6rem;
$btn-padding-y:0.7rem;
$btn-padding-x:1rem;