.functions {
    padding: 10rem 0;

    &--heading {
        margin-bottom: 2rem;
        text-align: center;
    }

    &--description {
        text-align: center;
        color: $text-muted;
        margin-bottom: 3rem;
    }

    &--item-wrapper {
        padding-top: 3rem;
        padding-bottom: 2rem;

        @include media-breakpoint-up(lg){
            padding-top: 5rem;
        }
    }

    &--item {
        position: relative;
        padding: 4rem 2rem 2rem;
        box-shadow: 0 0 1rem rgba($dark, 0.15);
        border-radius: $border-radius;
        height: 100%;

        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $primary;
            color: $white;
            text-align: center;
        }
    }

    &--item-icon {
        position: absolute;
        top: -3rem;
        left: calc(50% - 3rem);
        background-color: $primary;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        text-align: center;
        line-height: 6rem;
        color: $white;
    }

    &--item-heading {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}