* {
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows: 60px auto 40px;
    grid-template-areas: "header header header header" "about about about about" "footer footer footer footer";
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header img {
    border-radius: 20px;
    max-width: 120px;
    padding: 10px;
}

header nav {
    padding: 10px;
    display: flex;
    margin-right: 20px;
}

.about-us {
    grid-area: about;
    display: flex;
    padding: 20px 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-us div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.about-us div button {
    align-self: center;
}

.about-us div h1 {
    font-family: 'Permanent Marker', cursive;
    color: #0067b8;
    align-self: center;
    text-align: center;
}

.about-us div h2 {
    font-family: 'Permanent Marker', cursive;
    color: #0067b8;
    align-self: center;
    text-align: center;
}

.about-us-img {
    width: 50%;
    border-radius: 20px;
    grid-area: img;
    align-self: center;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #0067b8;
}

footer div {
    text-align: center;
    padding: 10px;
    color: white;
}

.menu-button {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #0067b8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
}

.menu-button:hover {
    text-decoration: underline;
}

.menu-collapse {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #0067b8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
}

.ul {
    position: absolute;
    display: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
}

.ul li {
    background-color: white;
    display: block;
}

.ul li a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #0067b8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
}

.ul li a:hover {
    background-color: #0067b8;
    color: white;
}

.menu-collapse:hover .ul {
    display: block;
}

.transform-arrow {
    transform: rotate(0);
}

.menu-collapse:hover .transform-arrow {
    transform: rotate(180deg);
}


/* .div-leayer {
    position: relative;
    z-index: 3;
} */

button {
    border-radius: 20px;
    border: 1px solid #0067b8;
    background-color: #0067b8;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

@font-face {
    font-family: 'Permanent Marker', cursive;
    src: url(./content/img/fonts/PermanentMarker-Regular.ttf);
}