@import 'bootstrap';
#list-container {
    li {
        span {
            cursor: pointer;
            &:hover {
                text-decoration: line-through;
            }
        }
        a {
            display: none;
        }
        &.done span {
            text-decoration: line-through;
        }
        &:hover a {
            display: block;
        }
    }
}