#list-container {
    li {
        span {
            cursor: pointer;
            &hover {
                text-decoration: line-through;
            }
        }
        a {
            display: block;
        }
        &.done span {
            text-decoration: line-through;
        }
    }
}