* {
    margin: 0;
    padding: 0;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    animation-name: my_animation;
    background-color: red;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes my_animation {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    25% {
        left: calc(100% - 200px);
        top: 0rem;
        transform: rotate(-90deg);
    }
    50% {
        left: calc(100% - 200px);
        top: 47rem;
        transform: rotate(-180deg);
    }
    75% {
        left: 0;
        top: 47rem;
        transform: rotate(-270deg)
    }
    100% {
        left: 0;
        top: 0;
        transform: rotate(-360deg);
    }
}