.box {
    width: 200px;
    height: 200px;
    animation-name: my_animation;
    background-color: red;
    animation-duration: 10s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes my_animation {
    0% {
        left: 0px;
        top: 0px;
        transform: rotate(90deg);
    }
    25% {
        left: 106rem;
        top: 0rem;
        transform: rotate(-90deg);
    }
    50% {
        left: 106rem;
        top: 47rem;
        transform: rotate(90deg);
    }
    75% {
        left: 0;
        top: 47rem;
        transform: rotate(-90deg)
    }
    100% {
        left: 0;
        top: 0;
        transform: rotate(90deg);
    }
}